.header {
  border: 1px solid white;
  max-width: 1000px;
  margin: 0 auto;
}
.main {
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}
.drawerExample {
  color: white;
  align-items: right;
  margin-right: 0 auto;
  justify-content: right;
  border-color: white;
}

.App {
  text-align: center;
  border: 1px solid black;
  min-height: 100vh;
  /*vh is responsive by nature  */
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  border: 1px solid white;
  max-width: 1000px;
  margin: 0 auto;
}
